*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}

aside{padding: 30px;
display: flex;
flex-direction: column;
gap: 30px;}

.icons{width: 30px;}

.subs{margin-left: -15px;}

.search{background-color: #efefef;
padding: 5px 15px;
margin-left:-20px ;}


nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    top: 0;
    gap: 15px;
    margin-left: 70px;
    padding: 10px;
    border-bottom: 2px solid black;
    max-width: 1200px;
  }

 input{min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;} 

.mic{border: 1px solid #efefef;
background-color: #efefef;
border-radius: 50%;
padding: 15px;}    

.mic:hover{background-color: #ccc;}
.search:hover{background-color: #ccc;}
.hover:hover{background-color: #ccc;
border-radius: 50%;
padding:10px;}

.tag-dark{background-color: black;
border: 2px solid black;
padding: 5px;
width: 50px;
text-align: center;
border-radius:10px;
color: white;}

.tag-section{max-width: 1000px;
position:absolute;
top: 100px;
left: 100px;}


.tags{border: 2px solid black;
padding: 5px;
border-radius: 10px;
background-color: #eeeeee;}

.pointer{cursor: pointer;}

.tags:hover{background-color: #ccc;}

.thumbnail{width: 300px;}

main{position: absolute;
top: 150px;
left: 95px;
background-color: #f0eeee;}

.text{margin-left: 65px;}


footer{position: absolute;}

.name{width: 100% ;
height: 50px;
padding: 10px;}